#search_form {
    display: block;
}

span.search_span {
    display: none;
}

#search0 {
    display: block;
}

.search_value_objects {
    height: 1.2em;
}

#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 10%;
	width: 80%;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: darkgray;
	padding: 10px 8px;
	border-bottom: 2px solid black;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid black;
	color: black;
	padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
	color: gray;
}

.mouse_id {
	text-decoration: underline;
}


.card {
	min-height: 350px;
	min-width: 300px;
	border: 2px solid;
    float: left;
    margin: 5px;
    padding: 5px;
}