.menuItem {
    padding: 2%;
    margin: 1%;
    border: solid 2px;
    text-align: center;
}

#search {
    margin-left: 0;
}

#menuUL {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#mainContent {
    width: 100%;
    margin: 0;
}

.acticeTopMenu {
    background-color: black;
    color: white;
}