<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/baseStyle.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>{% block title %}{% endblock %} - Ichor Mouse Tracker</title>
    {% endblock %}
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>