{% extends "home.html" %}
{% block title %}Cage Report{% endblock %}
{% block head %}
    {{ super() }}

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="static/css/cageReport.css" />
    <script src="/static/js/cageReport.js"></script>
{% endblock %}
{% block mainContent %}
    <div id="search_menu">

        <button id="add_search_constraint">Add Seach Constraint</button>
        <form id="search_form" method="post">

            <span class="search_span" id="search0">
                Create cage report of mice where:
                <select id="criteria0" name="criteria0">
                    <option value="colors">Color</option>
                    <option value="sexes">Sex</option>
                    <option value="diets">Diet</option>
                    <option value="statuses">Status</option>
                    <option value="studies">Study</option>
                    <option value="strains">Strain</option>
                    <option value="breeds">Breed</option>
                    <option value="pools">Pool</option>
                    <option value="causes_of_death">Cause of Death</option>
                </select>
                matches
                <input  class="search_value_objects" type="text" name="value0" id="0">
            </span>
            <span class="search_span" id="search1">
                and where the
                <select id="criteria1" name="criteria1">
                    <option value="cages">Cage</option>
                    <option value="colors">Color</option>
                    <option value="sexes">Sex</option>
                    <option value="diets">Diet</option>
                    <option value="statuses">Status</option>
                    <option value="studies">Study</option>
                    <option value="strains">Strain</option>
                    <option value="breeds">Breed</option>
                    <option value="pools">Pool</option>
                    <option value="causes_of_death">Cause of Death</option>
                </select>
                matches
                <input class="search_value_objects" type="text" name="value1" id="1">
            </span><br>
            <span class="search_span" id="search2">
                and where the
                <select id="criteria2" name="criteria2">
                    <option value="cages">Cage</option>
                    <option value="colors">Color</option>
                    <option value="sexes">Sex</option>
                    <option value="diets">Diet</option>
                    <option value="statuses">Status</option>
                    <option value="studies">Study</option>
                    <option value="strains">Strain</option>
                    <option value="breeds">Breed</option>
                    <option value="pools">Pool</option>
                    <option value="causes_of_death">Cause of Death</option>
                </select>
                matches
                <input class="search_value_objects" type="text" name="value2" id="2">
            </span><br>
            <span class="search_span" id="search3">
                and where the
                <select  id="criteria3" name="criteria3">
                    <option value="cages">Cage</option>
                    <option value="colors">Color</option>
                    <option value="sexes">Sex</option>
                    <option value="diets">Diet</option>
                    <option value="statuses">Status</option>
                    <option value="studies">Study</option>
                    <option value="strains">Strain</option>
                    <option value="breeds">Breed</option>
                    <option value="pools">Pool</option>
                    <option value="causes_of_death">Cause of Death</option>
                </select>
                matches
                <input class="search_value_objects" type="text" name="value3" id="3">
            </span><br>
            <span class="search_span" id="search4">
                and where the
                <select id="criteria4" name="criteria4">
                    <option value="cages">Cage</option>
                    <option value="colors">Color</option>
                    <option value="sexes">Sex</option>
                    <option value="diets">Diet</option>
                    <option value="statuses">Status</option>
                    <option value="studies">Study</option>
                    <option value="strains">Strain</option>
                    <option value="breeds">Breed</option>
                    <option value="pools">Pool</option>
                    <option value="causes_of_death">Cause of Death</option>
                </select>
                matches
                <input class="search_value_objects" type="text" name="value4" id="4">
            </span><br>

            <button>Submit</button>

        </form>
    </div>

    <div id="search_results">

    {{ cages }}
    {% if cards|length > 0 %}
       {% for key, value in cards.items() %}

           <div class="card">

               <p>Cage Name: {{ cards[key]['cage_name'] }}</p>
               <p>Study: {{ cards[key]['study'] }}</p>
               <p>Birthdates: {{ cards[key]['birthdates'] }}</p>
               <p>Sex: {{ cards[key]['sex'] }}</p>
               <p>Strain: {{ cards[key]['strain'] }}</p>
               <p>tags: {{ cards[key]['mouse_tags'] }}</p>
               <p>Notes:</p>
           </div>

        {% endfor %}

    {% endif %}

    </div>

{% endblock %}