{% extends "home.html" %}
{% block title %}Constraint Management{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/constraintManagement.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/static/js/constraintManagement.js"></script>
{% endblock %}
{% block mainContent %}

<button class="accordion">+ Cages</button>
<div class="panel">
    <div class="splitBox">
        <p>Current Cages</p>
        <button id="get_cage">Load Current Cages</button>
        <div id="cage_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Cage</p>

        <form action="/internal/cages" method="post">
            <p><input type=text name=cage_name placeholder="Cage name">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Color</button>
<div class="panel">
    <div class="splitBox">
        <p>Current Colors</p>
        <button id="get_color">Load Current Color</button>
        <div id="color_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Color</p>
        <form action="/internal/colors" method="post">
            <p><input type=text name=color_name placeholder="Color">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Sex</button>
<div class="panel">
    <div class="splitBox">
        <p>Current Sexes</p>
        <button id="get_sex">Load Current Sexes</button>
        <div id="sex_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Sex</p>
        <form action="/internal/sexes" method="post">
            <p><input type=text name=sex_name placeholder="Sex">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Diet</button>
<div class="panel">
    <div class="splitBox">
        <p>Current Diets</p>
        <button id="get_diet">Load Current Statuses</button>
        <div id="diet_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Diet</p>
        <form action="/internal/diets" method="post">
            <p><input type=text name=diet_name placeholder="Diet">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Status</button>
<div class="panel">
    <div class="splitBox">
        <p>Current Statuses</p>
        <button id="get_status">Load Current Statuses</button>
        <div id="status_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Status</p>
        <form action="/internal/statuses" method="post">
            <p><input type=text name=status_name placeholder="Status">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Study</button>
<div class="panel">
    <div class="splitBox">
        <p>Current Studies</p>
        <button id="get_studies">Load Current Studies</button>
        <div id="study_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Study</p>
        <form action="/internal/studies" method="post">
            <p><input type=text name=study_name placeholder="Study">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Strain</button>
<div class="panel">
    <div class="splitBox">
        <p>Current Strains</p>
        <button id="get_strain">Load Current Strains</button>
        <div id="strain_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Strain</p>
        <form action="/internal/strains" method="post">
            <p><input type=text name=strain_name placeholder="Strain">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Breed</button>
<div class="panel">
    <div class="splitBox">
        <p>Current Breeds</p>
        <button id="get_breed">Load Current Breeds</button>
        <div id="breed_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Breed</p>
        <form action="/internal/breeds" method="post">
            <p><input type=text name=breed_name placeholder="Breed">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Pool</button>
<div class="panel">
    <div class="splitBox">
        <p>Current Pools</p>
        <button id="get_pool">Load Current Pools</button>
        <div id="pool_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Pool</p>
        <form action="/internal/pools" method="post">
            <p><input type=text name=pool_name placeholder="Pool">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Cause of Death</button>
<div class="panel">
    <div class="splitBox">
        <p>Current Causes of Death</p>
        <button id="get_cause_of_death">Load Current Causes of Death</button>
        <div id="cause_of_death_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Cause of Death</p>
        <form action="/internal/causes_of_death" method="post">
            <p><input type=text name=cause_of_death_name placeholder="Cause of Death">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Blood Gather Method</button>
<div class="panel">
    <div class="splitBox">
        <p>Current Blood Gather Methods</p>
        <button id="get_blood_gather_method">Load Current Blood Gather Methods</button>
        <div id="blood_gather_method_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Blood Gather Method</p>
        <form action="/internal/blood_gather_methods" method="post">
            <p><input type=text name=blood_gather_method_name placeholder="Blood Gather Method">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Blood How </button>
<div class="panel">
    <div class="splitBox">
        <p>Current Blood Hows</p>
        <button id="get_blood_how">Load Current Blood Hows</button>
        <div id="blood_how_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Blood How</p>
        <form action="/internal/blood_hows" method="post">
            <p><input type=text name=blood_how_name placeholder="Blood How">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

<button class="accordion">+ Surgeon </button>
<div class="panel">
    <div class="splitBox">
        <p>Current Surgeons</p>
        <button id="get_surgons">Load Current Surgeons</button>
        <div id="surgeon_list_loc">
        </div>
    </div>
    <div class="splitBox">
        <p>Add Surgon</p>
        <form action="/internal/surgeons" method="post">
            <p><input type=text name=surgeon_name placeholder="Surgeon">
            <p><input type=submit value=Add>
        </form>
    </div>
</div>

{% endblock %}