{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/homeStyle.css" />
{% endblock %}
{% block content %}

    <h1 id="site-title">Mouse Tracker</h1>
    <div id="menuDiv">
        <ul id="menuUL">
            <li class="menuItem" id="search"><a href="/search">Search</a></li>
            <li class="menuItem" id="constraintManagement"><a href="/constraintManagement">Constraint Management</a></li>
            <li class="menuItem" id="individualImport"><a href="/individualImport">Individual Import</a></li>
            <li class="menuItem" id="summaryReport"><a href="/summaryReport">Summary Report</a></li>
            <li class="menuItem" id="cageReport"><a href="/cageReport">Cage Report</a></li>
            <li class="menuItem" id="bulkImport"><a href="/bulkImport">Bulk Import</a></li>
        </ul>
    </div>

    <div id="mainContent">
        {% block mainContent %}


        {% endblock %}
    </div>

{% endblock %}