{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}
    <form action="" method="post">
        <p><input type=text name=username placeholder="Office365 Username">
        <p><input type="password" name="password" placeholder="Office365 Password">
        <p><input type=submit value=Login>
    </form>
{% endblock %}


