{% extends "home.html" %}
{% block title %}Mouse Details{% endblock %}
{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <link rel="stylesheet" href="/static/css/mousedetails.css" />
    <script src="/static/js/mousedetails.js"></script>
{% endblock %}
{% block mainContent %}

    <div id="mouse_add_error_loc">

    </div>

    <form action="#" id="mouse_form">
        <div class="ui-widget">

            <h3>Mouse ID {{ mouse.mouse_id }}</h3>

            <label for="tag_number-tags">Tag Number: </label>
            <input  type="text" name="tag_number" id="tag_number" value="{{ mouse.tag_number }}"></br>

            <label for="parent1-tags">Parent 1 ID: </label>
            <input  type="text" name="parent1" id="parent1-tags" value="{{ mouse.parent1 }}"></br>

            <label for="parent2-tags">Parent 2 ID: </label>
            <input  type="text" name="parent2" id="parent2-tags" value="{{ mouse.parent2 }}"></br>

            <label for="cage-tags">Cage: </label>
            <input  type="text" name="cage" id="cage-tags" value="{{ mouse.cage.name }}"></br>

            <label for="sex-tags">Sex: </label>
            <input  type="text" name="sex" id="sex-tags" value="{{ mouse.sex.sex }}"></br>

            <label for="color-tags">Color: </label>
            <input  type="text" name="color" id="color-tags" value="{{ mouse.color.color }}"></br>

            <label for="diet-tags">Diet: </label>
            <input  type="text" name="diet" id="diet-tags" value="{{ mouse.diet.diet }}"></br>

            <label for="strain-tags">Strain: </label>
            <input  type="text" name="strain" id="strain-tags" value="{{ mouse.strain.strain }}"></br>

            <label for="breed-tags">Breed: </label>
            <input  type="text" name="breed" id="breed-tags" value="{{ mouse.breed.breed }}"></br>

            <label for="status-tags">Status: </label>
            <input  type="text" name="status" id="status-tags" value="{{ mouse.status.status }}"></br>

            <label for="study-tags">Study: </label>
            <input  type="text" name="study" id="study-tags" value="{{ mouse.study.study }}"></br>

            <label for="pool-tags">Pool: </label>
            <input  type="text" name="pool" id="pool-tags" value="{{ mouse.pool.pool }}"></br>

            <label for="cause-tags">Death Cause: </label>
            <input  type="text" name="cause" id="cause-tags" value="{{ mouse.cause.cause }}"></br>

            <label for="birth_date">Death Date: </label>
            <input type="text" name="birth_date" id="birth_date" value="{{ mouse.birth_date_str() }}"></br></br>

            <label for="death_date">Death Date: </label>
            <input type="text" name="death_date" id="death_date" value="{{ mouse.death_date_str() }}"></br></br>

            <label for="death_notes">Death Notes: </label>
            <textarea  id="death_notes" rows="8" cols="80" name="death_notes">{{ mouse.death_note }}</textarea></br></br>

            <label for="general_notes">General Notes: </label>
            <textarea  id="general_notes" rows="8" cols="80" name="general_notes">{{ mouse.general_note }}</textarea>

            <input style="display: none" id="anchor" value="{{ mouse.mouse_id }}">

        </div>

    </form>
    <button id="submit_button">Submit</button>

{% endblock %}